{% extends "base.html" %}

{% block title %}Abgeschlossene Bestellungen{% endblock %}

{% block content %}
<h1>Abgeschlossene Bestellungen</h1>
    <ul>
    {% for order in orders %}
        <li style="margin-bottom: 15px; {% if order.stock_status == '⚠️ Nicht genug Lagerbestand' %}color: red;{% endif %}">
            <a href="{% url 'order_detail' order.id %}">
                Bestellung #{{ order.id }} - {{ order.customer_name }}
            </a>
            ({{ order.order_date|date:"d.m.Y H:i" }})
        </li>
    {% endfor %}
    </ul>
{% endblock %}